[submodule "vendor/bindy"]
	path = vendor/bindy
	url = https://github.com/EPC-MSU/Bindy
[submodule "vendor/zf_log"]
	path = vendor/zf_log
	url = https://github.com/wonder-mice/zf_log.git
[submodule "vendor/acutest"]
	path = vendor/acutest
	url = https://github.com/mity/acutest
[submodule "server/devurpcserial/vendor/tinycthread"]
	path = server/devurpcserial/vendor/tinycthread
	url = https://github.com/tinycthread/tinycthread.git
	
